* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    position: relative;
    height: 100%;
    background-image: url('./../images/bg1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.white-shadow {
    text-shadow: 2px 2px 1px white;
}

.color-shadow {
    text-shadow: 2px 2px 1px white, 3px 3px 2px #eb9788;
}

.header {
    max-height: 8vh;
    position: relative;
    background-color: #333;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    display: flex;
    z-index: 1;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    
    /* Experimental colors */
    background: linear-gradient(90deg, rgb(178 218 196) 0%, rgb(227 211 155) 100%);
    box-shadow: 10px 10px 10px rgba(3, 7, 18, 0.20);
    color: #38385f;
}

.header input {
    /* Experimental colors */
    color: #38385f;
}

.main-header {
    flex-direction: column;
    padding: 0;
}

.header.show {
    max-height: 20vh;
}

.header .title {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.menu {
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    user-select: none;
    padding: 1rem;
}

.menu-item {
    all: unset;
    background-color: #e7e7e7;
    border: 1px solid #ababab;
    padding: .5rem;
    cursor: pointer;
    border-radius: 10px;
}

.btn {
    all: unset;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
}

.container {
    padding: 1rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* EJERCICIOS */
.day {
    background-color: #fff;
    border: 1px solid #ababab;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%; /* Importante si por encima tenemos un flex */
    box-shadow: 10px 10px 10px rgba(3, 7, 18, 0.20);

    /* Experimental colors */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%); */
    /* background: linear-gradient(24deg, rgb(164 188 225) 0%, rgb(175 214 207) 100%); */
    color: #38385f;
}

.btn.new-day {
    background-color: #e7e7e7;
    border: 2px solid #ababab;
    border-radius: 10px;
    padding: 1rem;
    color: #ababab;
    width: fit-content; /* Importante si por encima tenemos un flex */

    /* Experimental colors */
    background: linear-gradient(24deg, rgb(164 188 225) 0%, rgb(175 214 207) 100%);
    color: #38385f;
    border: 2px solid #38385f;
}

.edit-btn {
    position: absolute;
    width: 10%;
    height: 100%;
    right: 0;
    top: 0;
    height: 4rem;
    place-content: center;
}

.edit-btn .icon {
    text-align: center;
    font-size: 1.5rem;
}

.dropdown {
    position: relative;
    background-color: #e7e7e7;
    border: 2px solid #ababab;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    z-index: 1;
    transition: all .2s ease-in-out;

    /* Experimental */
    background: linear-gradient(270deg, rgb(164 188 225) 0%, rgb(175 214 207) 100%);
    border: 2px solid #38385f;
}

.dropdown.edit {
    width: 90%;
}

.dropdown .title {
    line-height: 3vh;
    height: 3vh;
}

.dropdown .icon {
    font-size: 1.5rem;
}

.exs {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.exs.show {
    max-height: 500px;
    overflow-y: auto;
}

.ex {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ababab;
    text-align: center;
    cursor: pointer;
}

.no-ex {
    padding: 1rem;
}

.ex > div {
    flex: 1;
}

.ex:hover {
    background-color: #f7f7f7;
}

.ex-muscle, .ex-sets {
    font-size: 0.8rem;
    color: #9f1212;
    font-weight: 600;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 10;
}

.modal-header {
    position: relative;
    justify-content: space-between;
    font-size: 1.5rem;
    max-height: fit-content;
}

.readonly {
    position: relative;
    display: inline-block;
}

.readonly input {
    all: unset;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.readonly.editable {
    cursor: pointer;
    border: 1px solid #ababab;
    border-radius: 10px;
}

/* NUEVA FUNCIONALIDAD FUTURA */
/* .readonly.editable::after {
    content: '✏️';
    position: absolute;
    right: -2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #333;
} */

.modal.show {
    display: block;
}

.hide {
    display: none !important;
}

.modal-content {
    position: relative; /* hijos con absolute */
    background-color: #e7e7e7;
    border: 2px solid #ababab;
    border-radius: 8px;
    width: 75vw;
    min-width: 355px;
    min-height: 565px;
    max-height: 400px; /* estándar */
    margin: 5vw auto;
    overflow: hidden;
}

.modal .btn-container {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
    bottom: 0;
}

.modal .btn-container .btn {
    background-color: #333;
    padding: .8rem;
    border-radius: 10px;
    border: 1px solid #ababab;
    text-align: center;
}

.group {
    display: none;
}
.group.show {
    display: block;
}

/* MODAL EX */
.modal-ex {
    padding: 1rem;
    max-height: 400px; /* estándar */
    overflow-y: auto;
}

.modal-ex label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #b2304f;
}

.modal-ex input, .modal-ex textarea {
    all: unset;
    display: block;
    padding: 0.5rem;
    box-sizing: border-box;
}

.main-info input, .main-info textarea {
    width: 100%;
}

.modal-ex textarea {
    height: 55px;
}

.modal-ex input:focus, .modal-ex textarea:focus {
    background: white;
}

.modal-ex .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.modal-ex .flex input {
    text-align: right;
}

.modal-ex input[type="number"] {
    width: 7rem;
}

/* MODAL DAY */

.modal-day {
    max-height: 400px; /* estándar */
    overflow-y: auto;
}

.m-ex {
    position: relative;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid #ababab;
}

.m-ex.is-new::after {
    content: 'new';
    color: #9f1212;
    position: absolute;
    left: 0.1rem;
    top: 0;
    font-size: 0.75rem;
    font-weight: 700;
}

.m-ex.new-ex {
    border: none;
    justify-content: center;
}

.m-ex.new-ex .add-btn {
    padding: 1rem;
    border: 1px solid #ababab;
    border-radius: 10px;
    cursor: pointer;
}

/* MODAL LIST */

.modal-list {
    max-height: 400px; /* estándar */
    overflow-y: auto;
}

.modal-list.extended {
    max-height: 470px;
}

.m-musc {
    font-size: 1.2rem;
    font-weight: 600;
    color: #b2304f;
    text-align: center;
}

.m-set {
    margin-top: 1rem;
}

.m-set .ex {
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

.vars-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.vars-container > div {
    width: 100%;
}

.m-var { /* contenedores de las variantes */
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #cfcfcf;
    border-radius: 8px;
    position: relative;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
}

.m-var > div { /* sub contenedores de las variantes */
    display: flex;
    justify-content: space-between;
    gap: .2rem;
}

.m-var .var-name,.m-var .var-amount { /* el nombre de la variante debe ocupar todo lo que pueda */
    width: 100%;
    font-weight: 500;
}
.m-var .remove-btn {
    line-height: 35px;
}

.m-var .var-ser, .m-var .var-rep { /* contenedores de los numeros */
    width: 40%;
    text-align: center;
    border: 1px solid #b2304f;
    border-radius: 10px;
}

.m-var label { /* sobreescribe las label de modal-ex */
    color: #b2304f;
    font-size: .9rem;
    line-height: 35px;
    font-weight: normal;
}

.btn.new-var {
    background-color: #cfcfcf;
    border-radius: 10px;
    padding: 0.5rem;
    color: #7f7f7f;
    width: fit-content;
    margin: 0.5rem 0;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    header {
        font-size: 1.5rem;
    }

    .container {
        padding: 0.5rem;
    }

    .button {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }
}

/* Custom scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

