* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    max-height: 8vh;
    height: 100%;
    position: relative;
    background-color: #333;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    display: flex;
    z-index: 1;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.main-header {
    flex-direction: column;
    padding: 0;
}

.header.show {
    max-height: 20vh;
}

.header .title {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.menu {
    font-size: 3vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    user-select: none;
    padding: 1rem;
}

.menu-item {
    all: unset;
    background-color: #e7e7e7;
    border: 1px solid #ababab;
    padding: .5rem;
    cursor: pointer;
    border-radius: 10px;
}

.btn {
    all: unset;
    cursor: pointer;
    color: #fff;
}

.container {
    padding: 1rem;
}

/* EJERCICIOS */
.day {
    background-color: #fff;
    border: 1px solid #ababab;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.edit-btn {
    position: absolute;
    width: 10%;
    height: 100%;
    right: 0;
    top: 0;
    height: 4rem;
    place-content: center;
}

.edit-btn .icon {
    text-align: center;
    font-size: 1.5rem;
}

.dropdown {
    background-color: #e7e7e7;
    border: 2px solid #ababab;
    font-size: 1rem;
    font-weight: 600;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
}

.dropdown .title {
    line-height: 3vh;
    height: 3vh;
}

.dropdown .icon {
    font-size: 1.5rem;
}

.exs {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.exs.show {
    max-height: 500px;
    overflow-y: auto;
}

.ex {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ababab;
    text-align: center;
    cursor: pointer;
}

.ex > div {
    flex: 1;
}

.ex:hover {
    background-color: #f7f7f7;
}

.ex-muscle, .ex-sets {
    font-size: 0.8rem;
    color: #9f1212;
    font-weight: 600;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 10;
}

.modal-header {
    position: relative;
    justify-content: space-between;
    font-size: 1.5rem;
    max-height: fit-content;
}

.readonly {
    position: relative;
    display: inline-block;
}

.readonly input {
    all: unset;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.readonly.editable {
    cursor: pointer;
    border: 1px solid #ababab;
    border-radius: 10px;
}

/* NUEVA FUNCIONALIDAD FUTURA */
/* .readonly.editable::after {
    content: '✏️';
    position: absolute;
    right: -2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #333;
} */

.modal.show {
    display: block;
}

.hide {
    display: none;
}

.modal-content {
    position: relative; /* hijos con absolute */
    background-color: #e7e7e7;
    border: 2px solid #ababab;
    border-radius: 8px;
    width: 75vw;
    min-height: 65vh; /* estándar */
    margin: 5vw auto;
    overflow: hidden;
}

.modal .btn-container {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
    bottom: 0;
}

.modal .btn-container .btn {
    background-color: #333;
    padding: .8rem;
    border-radius: 10px;
    border: 1px solid #ababab;
}

/* MODAL EX */
.modal-ex {
    padding: 1rem;
}

.modal-ex label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #b2304f;
}

.modal-ex input, .modal-ex textarea {
    all: unset;
    display: block;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.modal-ex textarea {
    height: 6vh;
}

.modal-ex input:focus, .modal-ex textarea:focus {
    background: white;
}

.modal-ex .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.modal-ex .flex input {
    text-align: center;
}

.modal-ex input[type="number"] {
    width: 7rem;
}

/* MODAL DAY */

.modal-day {
    max-height: 400px; /* estándar */
    overflow-y: auto;
}

.m-ex {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid #ababab;
}

.m-ex.new-ex {
    border: none;
    justify-content: center;
}

.m-ex.new-ex .add-btn {
    padding: 1rem;
    border: 1px solid #ababab;
    border-radius: 10px;
    cursor: pointer;
}

/* MODAL LIST */

.modal-list {
    max-height: 400px; /* estándar */
    overflow-y: auto;
}

.m-muscle {
    font-size: 1.2rem;
    font-weight: 600;
    color: #b2304f;
    text-align: center;
}

.m-set {
    margin-top: 1rem;
}

.m-set .ex {
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    header {
        font-size: 1.5rem;
    }

    .container {
        padding: 0.5rem;
    }

    .button {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }
}

/* Custom scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

