* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: #fff;
    font-size: 4vw;
    font-weight: 600;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.btn {
    all: unset;
    cursor: pointer;
    color: #fff;
}

.container {
    padding: 1rem;
}

/* EJERCICIOS */
.day {
    background-color: #fff;
    border: 1px solid #ababab;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.edit-btn {
    position: absolute;
    width: 10%;
    height: 100%;
    right: 0;
    top: 0;
    height: 4rem;
    place-content: center;
}

.edit-btn .icon {
    text-align: center;
    font-size: 1.5rem;
}

.dropdown {
    background-color: #e7e7e7;
    border: 2px solid #ababab;
    font-size: 3vw;
    font-weight: 600;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
}

.dropdown .title {
    line-height: 3vh;
    height: 3vh;
}

.dropdown .icon {
    font-size: 1.5rem;
}

.exs {
    height: 0;
    overflow: hidden;
    transition: height 0.1s ease, padding 0.1s ease;
    padding: 0 1rem;
}

.exs.show {
    height: 100%;
    padding: 1rem;
}

.ex {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ababab;
    text-align: center;
    cursor: pointer;
}

.ex > div {
    flex: 1;
}

.ex:hover {
    background-color: #f7f7f7;
}

.ex-muscle, .ex-sets {
    font-size: 0.8rem;
    color: #9f1212;
    font-weight: 600;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.modal.show {
    display: block;
}

.modal-content {
    background-color: #e7e7e7;
    border: 2px solid #ababab;
    border-radius: 8px;
    width: 75vw;
    min-height: 65vh;
    margin: 5vw auto;
    overflow: hidden;
}

.modal-header {
    font-size: 1.5rem;
}

.modal-ex {
    padding: 1rem;
}

.modal-ex label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #b2304f;
}

.modal-ex input, .modal-ex textarea {
    all: unset;
    display: block;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.modal-ex textarea {
    height: 6vh;
}

.modal-ex input:focus, .modal-ex textarea:focus {
    background: white;
}

.modal-ex .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

.modal-ex .flex input {
    text-align: center;
}

.modal-ex input[type="number"] {
    width: 7rem;
}

.modal .btn-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.modal .btn-container .btn {
    background-color: #333;
    padding: .8rem;
    border-radius: 10px;
    border: 1px solid #ababab;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    header {
        font-size: 1.5rem;
    }

    .container {
        padding: 0.5rem;
    }

    .button {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }
}


