body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: #fff;
    font-size: 4vw;
    font-weight: 600;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#config {
    all: unset;
    cursor: pointer;
    color: #fff;

}

.container {
    padding: 1rem;
}

.day {
    background-color: #fff;
    border: 1px solid #ababab;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
}

.dropdown {
    background-color: #e7e7e7;
    border: 2px solid #ababab;
    font-size: 3vw;
    font-weight: 600;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
}

.dropdown .title {
    line-height: 3vh;
    height: 3vh;
}

.dropdown .icon {
    font-size: 1.5rem;
}

.exs {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease, padding 0.2s ease;
    padding: 0 1rem; /* Ajusta el padding horizontal */
}

.exs.show {
    max-height: 1000px; /* Ajusta este valor según sea necesario */
    padding: 1rem; /* Ajusta el padding completo cuando está visible */
}

.ex {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ababab;
    text-align: center;
}

.ex > div {
    flex: 1;
}

.ex:hover {
    background-color: #f7f7f7;
}

.ex-muscle, .ex-sets {
    font-size: 2vw;
    color: #9f1212;
    font-weight: 600;
}


/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    header {
        font-size: 1.5rem;
    }

    .container {
        padding: 0.5rem;
    }

    .button {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }
}


